body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: #aaaaaa;
    width: 95%;
}

table {
    width: 100%;
}

.header-panel {
    border: none;
}

.header {
    background-color: #f3b445;
    font-style: inherit;
    cursor: pointer;
    border: none;
    font-size: 18px;
    box-shadow: none;
}

.subHeader {
    background-color: #efd08f;
    font-style: inherit;
    cursor: pointer;
    border: none;
    font-size: 18px;
    box-shadow: none;
}

th {
    text-align: left;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: none;
    transition: border-color 0.3s ease-in-out;
    margin-bottom: 15px;
    width: 30%;
    align-self: center;
    cursor: zoom-in;
}

input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    cursor: help;
}

input::placeholder {
    color: #aaa;
    font-style: italic;
    cursor: help;
}

tr:hover {
    background-color: #ddd;
}

td:last-child {
    text-align: center;
}



